<!DOCTYPE html>
<html>
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        
        <title>Interview</title>
        
        <style>
            body {background: #f4f4f4;}
        </style>
    </head>
<body>
    <br>
    <div class="container text-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
              </tr>
            </thead>
            <tbody>
                {% for x in myusers %}
                <tr>
                    <td>{{ x.nombre }}</td>
                    <td>{{ x.apellido }}</td>
                    <td>{{ x.correo }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
      <center>
        <a class="btn btn-success" href="agregarUsuario.html" role="button">Registrar usuario nuevo</a>
      </center>
      
      <!-- Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>                  